
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', san-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
.container{
    display: flex;
}

.box-1{
    flex: 1;
    order: 1;
    background-color:  hsl(31, 77%, 52%);
    padding: 9%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.box-2{
    flex: 1;
    order: 2;
    background-color: hsl(184, 100%, 22%) ;
    padding: 9%;
}
.box-3{
    flex: 1;
    order: 3;
    background-color:  hsl(179, 100%, 13%);
    padding: 9%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    ;
}
img{
    width: 60%;
    margin-bottom: 30%;
 
}
/* text */
p{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 4%;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top:  20px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color:  hsl(0, 0%, 95%);
}

.boxes {
    padding: 10%;
}
a{  
    width: 110px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 2px;
    display: inline-block;
    border: 1.5px solid hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);        ;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    border-radius: 17px;
    text-align: center;
    margin-top: 30%;
}
